.navbar-logo{
   max-width: 7%;
   height: 7%;
   margin-top: 1.5rem;
   margin-left: 24rem;
}


/*
 #1ed760
*/
 *{
   margin: 0%;
   padding: 0%;
}
.logo{
   background-color: black;
   position: fixed;
   max-width: 100%;

   
}
.menu{
   position: relative;
}
.menu-item{
   
   float: right;
   z-index: 1;
   font-size: 16px;
  /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;*/
  font-family: 'Oi', cursive;
   display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 2rem;
    text-justify: auto;
    margin-right: 15rem;
    justify-content: none;
   
    
    
    
}
.menu-itemss-1{
   color: white;
   text-decoration: none;
   position: fixed;
   margin-left: -30rem;
}
.menu-itemss-1:hover{
   color: #1ed760;
   transition: ease-in-out;
   
}
.menu-itemss-2{
   color: white;
   text-decoration: none;
   position: fixed;
   margin-left: -22rem;
   
}
.menu-itemss-2:hover{
   color: #1ed760;
   transition: ease-in-out;
   
}
.menu-itemss-3{
   
   color: white;
   /*position: fixed;*/
   text-decoration: none;
   position: fixed;
   margin-left: -15rem;
   
}
.menu-itemss-3:hover{
   color: #1ed760;
   transition: ease-in-out;
   
}
.menu-itemss-4{
   color: white;
   margin-left: 35px;
   text-decoration: none;
   position: fixed;
   margin-left: 1rem;
}

.menu-itemss-5{
   color: white;
   text-decoration: none;
   position: fixed;
   margin-left: -8rem;
}
.menu-itemss-5:hover{
   color: #1ed760;
   transition: ease-in-out;
   
}
.menu-itemss-6{
   color: white;
   text-decoration: none;
   position: fixed;
   margin-left: 1rem;
}
.menu-itemss-6:hover{
   color: #1ed760;
   transition: ease-in-out;
   
}


.footer-logo{
  margin-top: 20rem;
  
}

.content2{
   display: block;
   
   margin-left: 20rem;
   padding: 20rem;
   font-family: Circular,Arial, Helvetica, sans-serif;
   letter-spacing: -0.04em 
}
.my-title3{
   height: 20rem;
   font-size: 156px;
   color: #1ED760;
   margin-left: -12.5rem;
}
.my-title4{
   height: 12rem;
   font-size: 156px;
   color: #1ED760;
   margin-left: 6rem;
   margin-top: -10rem;
}
.content-text{
   color:#1ED760 ;
   font-size: 1.2rem;
   margin-left: 8rem;
   font-family: 'Permanent Marker', cursive;
}

.btn-general{
   background-color: #1ED760;
   border: none;
   color: #2940a8;
   
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 20px;
   margin: 4px 2px;
   border-radius: 500px!important;
   margin-left: 15rem;
   margin-top: 2rem;
   padding: 16px 40px 16px;
   transition: background-color .5s;
   font-family: 'Permanent Marker', cursive;
   
}

.btn-general:hover{
  
   background-color: white;
   
   transition-duration: .3s;
}

.back{
   
   margin: -35rem;
   width: 120rem;
   height: 54.6rem;
   margin-top: -15.8rem;
   margin-left: -40rem;
}

.content3{
   margin-top: -10rem;
   margin-left: -2rem;
  
}
.content-title{
   font-family: 'Permanent Marker', cursive;
}



.footer-left{
   margin-top: -35rem;

   color: white;
}

.footer-title-1{
   margin-left: 5rem;
  margin-top: -20rem;
}

.my-logo12{
   margin-top: -33rem;
   margin-left: 70rem;
   justify-content: center;
   list-style: none;
   min-height: 100vh;
   transition: ease-in-out;
   display: flex;
   letter-spacing: 3rem;
   text-decoration: none;
   border-radius: 50%;
   height: 2rem;
   margin-top: -28rem;
   margin-left: 85rem;
  

}
.my-logo12:hover{
   
   color: #1ED760;  
}
.footer{
   top: 3rem;
   margin-top: -5.2rem;
   padding: 13rem;
   color: white;
   background-color: black;
   padding-bottom: 13rem;
   margin-bottom: -2rem;
   /* z-index: 1; */
   padding-bottom: 29.5rem;
   
}
.footer-content{
   color: white;
   margin-top: -25rem;
   margin-left: 30rem;
}

.my-footer-logo13{
   margin-bottom: 26rem;
   margin-left: 15rem;
   margin-top: -22rem;
   height: 3rem;
   width: 10rem;
}

.jobs1{
   bottom: 2rem;
   display: block;
  
}
.about1:hover{
   color: #1ED760;
}
.record1:hover{
   color: #1ED760;
}
.artist1:hover{
   color: #1ED760;
}
  

.jobs1:hover{
   color: #1ED760;
}
.footer-content-title-2{
     margin-left: 15rem;
     margin-top: -5rem;
     display: block;

}

.footer-title-3{
     margin-top: -7rem;
     margin-left: 33rem;
     
      
}
.support1{
   display: block;
  
}
.support1:hover{
   color: #1ED760;
}
.player1{
   display: block;
}
.player1:hover{
   color: #1ED760;
}

.developer1{
   top: 2rem;
   display: block;
}
.developer1:hover{
   color: #1ED760;
}

.company1{
   color:gray;
}

.communities{
   color: gray;
}

.useful1{
   color: gray;
   
}
.advertising{
   display: block;
}
.advertising:hover{
   color: #1ED760;
}
.investors{
   display: block;
}
.investors:hover{
   color: #1ED760;
}
.vendors:hover{
   color: #1ED760;
}
.mobile1:hover{
   color: #1ED760;
}

.footer-right{
   margin-left: 85rem;
   margin-top: -3rem;
}
.usa{
    display: block;  
    font-size: 13px;
}
.usa:hover{
   color: #1ED760;
}

.legal:hover{
   color: #1ED760;
}
.additional:hover{
   color: #1ED760;
}
.additional{
   margin-left: 3rem;
   font-size: 13px;
}
.ads{
   margin-left: 3rem;
   font-size: 13px;
}
.ads:hover{
   color: #1ED760;
}
.cookies{
   margin-left: 3rem;
   font-size: 13px;
}
.cookies:hover{
   color: #1ED760;
}
.policy{
   margin-left: 3rem;
   font-size: 13px;
}
.policy:hover{
   color: #1ED760;
}
.privacy{
   margin-left: 3rem;
   font-size: 13px;
}
.privacy:hover{
   color: #1ED760;
}
.legal:hover{
   color: #1ED760;
}
.legal{
   margin-left: 16rem;
   font-size: 13px;
}

.footer-ab{
   font-size: 13px;
}